.todo {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    max-width: 500px;
    min-height: 50px;
    background-color: var(--bg-todo);
    border-radius: 50px;
    box-shadow: 0 0 5px 1px var(--shadow);
    transition: transform 0.1s ease-in-out;
}

.todo:hover {
    transform: scale(1.01);
}

.emptyInput {
    border: 2px solid #ff000081;
    animation: shake .5s;
}

/*  Animação disparada ao tentar gravar 
    tarefa sem digitar nada                 */
@keyframes shake {
    0%      { transform: translate(0); }
    20%     { transform: translate(-10px, 0); }
    40%     { transform: translate(10px, 0); }
    60%     { transform: translate(-10px, 0); }
    80%     { transform: translate(10px, 0); }
    100%    { transform: translate(0); }
}

.todo-input {
    border: none;
    height: 100%;
    width: 90%;
    resize: none;
}

.todo-input:focus {
    outline: none;
}

.todoClose {
    width: 25px;
    height: 25px;
    background-image: url(../../assets/icons/add.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.todoClose:hover{
    transform: scale(1.2);
}